BasedOnStyle: Google
Language:                               Cpp
Standard:                               Cpp11
Cpp11BracedListStyle:                   true
CommentPragmas:                         '^ NOLINT'
